body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* a subtle focus style for keyboard-input elements */
.text-input:focus {
  outline: 5px solid red; /* Adjust to suit your tastes */
}

/* no outline for non-keyboard-inputs elements */
button:focus,
select:focus {
  outline: none;
}

body.user-is-tabbing *:focus {
  outline: 5px solid green !important; /* for non-webkit browsers */
  outline: 5px auto -webkit-focus-ring-color !important;
}
